.reveal .platform-languages {
    background-color: white;
    margin-bottom: 1em;
    border: 2px solid #657b83;
}

.reveal .platform-languages > .col:first-child {
    border-right: 2px solid #657b83;
}

.reveal .platform-languages > .col:last-child {
    border-left: 2px solid #657b83;
}

.reveal .platform-languages > .col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reveal .platform-languages > .col img {
    max-height: 200px;
}